reporting:
    logging: {}
    metrics: {}
http:
    listen: {{ inlet_listen_address }}:{{ inlet_http_listen_port }}
    profiler: true
    cache:
        type: memory
flow:
    inputs:
        - decoder: netflow
          listen: {{ inlet_listen_address }}:{{ netflow_listen_port }}
          queuesize: 100000
          receivebuffer: 10485760
          type: udp
          usesrcaddrforexporteraddr: false
          workers: 6
        - decoder: sflow
          listen: {{ inlet_listen_address }}:{{ sflow_listen_port }}
          queuesize: 100000
          receivebuffer: 10485760
          type: udp
          usesrcaddrforexporteraddr: false
          workers: 6
    ratelimit: 0
snmp:
    cacheduration: 30m0s
    cacherefresh: 1h0m0s
    cachecheckinterval: 2m0s
    cachepersistfile: ""
    pollerretries: 1
    pollertimeout: 1s
    pollercoalesce: 10
    workers: 10
    communities:
        ::/0: public
    securityparameters: {}
    agents: {}
    ports:
        ::/0: 161
kafka:
    topic: {{ topic }}
    brokers:
{% for address in kafka_listen_address %}
        - {{ address }}:{{ kafka_listen_port | default("9092") }}
{% endfor %}
    version: {{ kakfa_version }}
    tls:
        enable: false
        verify: false
        cafile: ""
        certfile: ""
        keyfile: ""
    sasl:
        enable: {{ enable_sasl | bool}}
        saslusername: {{ saslusername }}
        saslpassword: {{ saslpassword }}
        saslmechanism: {{ saslmechanism }}
    flushinterval: 10s
    flushbytes: 104857599
    maxmessagebytes: 1000000
    compressioncodec: zstd
    queuesize: 32
core:
    workers: 6
    exporterclassifiers:
        - ClassifyRegion("{{ region_name | default("edge") }}")
    classifiercacheduration: 5m0s
    defaultsamplingrate: 
        ::/0: {{ samplingrate }}
    overridesamplingrate: {}
    asnproviders:
        - flow
        - bmp
        - geoip
